.layout{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.cabecalho h1{
    margin: 0;
}

.cabecalho a{
    background-color: crimson;
    padding: 10px 20px;

}

.conteudo{
    height: 100%;
    padding: 15px;
}